:root {
  --base-url: v-bind('__BASE_URL__');
}

html, body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::before {
  content: ""; /* Обязательно для псевдо-элементов */
  position: fixed; /* Фиксируем относительно окна браузера */
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0; - Растягиваем на весь экран */
  z-index: -1; /* Помещаем ПОД основной контент */

  /* Начальное состояние - фона нет, он прозрачен */
  background-image: none;
  background-size: cover; /* Масштабируем, чтобы покрыть */
  background-position: center center; /* Центрируем */
  background-repeat: no-repeat;

  pointer-events: none;
}

body.main-page-background-active::before {
  background-image: url('/glebsalin/img/background.png');
}

#app {
  max-width: 1280px;
  min-width: 320px;

  margin: 0 auto; /* Центрирование */
  padding: 0 1rem; /* Горизонтальные отступы */
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: linear-gradient(
      rgba(246, 247, 247, 0.85),
      rgba(246, 247, 247, 0.85)
    );
  box-sizing: border-box;
  position: relative;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

#app-loader {
  position: fixed;
  inset: 0; /* top/right/bottom/left = 0 */
  background-color: white; /* Или твой цвет фона */
  z-index: 9999; /* Очень высокий, поверх всего */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1; /* Изначально видим */
  pointer-events: auto;
  transition: opacity 0.5s ease-out;
}
#app-loader.hidden {
  opacity: 0;
  pointer-events: none; /* Чтобы не мешал кликам после исчезновения */
}
#app-loader img {
  width: 100px; /* Задай размер своей гифки */
  height: 100px;
}

@font-face {
  font-family: 'GlebSalinFont';
  src: url('/glebsalin/fonts/Gleb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
  font-display: swap;
}

@media (max-width: 500px) { 
  #app {
    padding: 0 0.5rem; /* Горизонтальные отступы */
  }
}